body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgb(201, 230, 220);
}

form {
    margin-bottom: 20px;
    border: 1px solid;
    border-top-left-radius: 20px;
}

form input, form textarea {
    margin: 5px;
    width: 600px;
}

label{
    display: block;
    margin-left: 20px;
    align-items:center
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    align-items:center;
    margin-top: 5px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

